# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database & SQLite files
*.db
*.sqlite3
*.db-journal

# Environment / Secret variables
.env
.env.local
firebase-service-account.json
*service-account*.json
*adminsdk*.json

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
